<!DOCTYPE html>
<html lang="es" class="w-100 h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta
      name="description"
      content="Plantilla base para comenzar un nuevo proyecto basado en | Bootstrap + Sass + Webpack"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./src/images/favicon.png"
    />
  </head>
  <body class="{{htmlWebpackPlugin.options.bodyClass}}">
    <div class="align-self-center text-uppercase">
      <h1>Luis <strong class="d-block font-weight-bold">Badiali</strong></h1>
      <p>
        Web Dev | Diseño<br />
        <a
          href="mailto:luis@badiali.es"
          title="Luis Badiali | Diseño y desarrollo frontend"
        >luis@badiali.es</a>
      </p>
      <ul class="list-unstyled list-inline my-4">
        <li class="list-inline-item mx-2">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://twitter.com/badiali/"
            title="Twitter | Luis Badiali"
          >
            <i class="icon icon-twitter"></i><span
              class="visually-hidden"
            >Twitter</span>
          </a>
        </li>
        <li class="list-inline-item mx-2">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://instagram.com/dev.badiali/"
            title="Instagram | Luis Badiali"
          >
            <i class="icon icon-instagram"></i><span
              class="visually-hidden"
            >Instagram</span>
          </a>
        </li>
        <li class="list-inline-item mx-2">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/badiali/"
            title="GitHub | Luis Badiali"
          >
            <i class="icon icon-github"></i><span class="visually-hidden">GitHub</span>
          </a>
        </li>
        <li class="list-inline-item mx-2">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://codepen.io/badiali/"
            title="CodePen | Luis Badiali"
          >
            <i class="icon icon-codepen"></i><span
              class="visually-hidden"
            >CodePen</span>
          </a>
        </li>
        <li class="list-inline-item mx-2">
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://es.linkedin.com/in/badiali/"
            title="LinkedIn | Luis Badiali"
          >
            <i class="icon icon-linkedin"></i><span
              class="visually-hidden"
            >LinkedIn</span>
          </a>
        </li>
      </ul>
      <p><a class="btn btn-primary" href="/">Inicio</a></p>
    </div>
  </body>
</html>