<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta
      name="description"
      content="{{htmlWebpackPlugin.options.description}}"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="./src/img/favicon.png"
    />
  </head>
  <body>
    <header class="header fixed-top bg-white border-bottom">
      {{> partials/header}}
    </header>
    <main class="main">
      <section class="portfolio-hero container-xl p-md-5">
        <div class="row gx-3 flex-nowrap align-items-center py-4 pt-md-3 pb-md-0">
          <div class="col-md-8 col-lg-6 ps-lg-5">
            <a class="d-flex align-items-center fw-bold mb-3" href="#">
              <img class="me-2" src="./src/img/bitcoin.svg" alt="Bitcoin">
              Jump start your portfolio
              <i class="icon icon-arrow ms-2"></i>
            </a>
            <h1 class="fw-bold mb-4">Jump start your crypto portfolio</h1>
            <h3 class="mb-4">Coinbase is the easiest place to buy and sell cryptocurrency. Sign up and get started today.</h3>
            <form class="row flex-column flex-md-row gx-3 gy-2 pt-2">
              <div class="col-md-7">
                <input class="form-control form-control-lg h-100 py-md-0" type="email" placeholder="Email address" aria-label="Email address">
              </div>
              <div class="col-md-5">
                <button class="btn btn-lg btn-primary w-100" type="button">Get started</button>
              </div>
            </form>
          </div>
          <div class="d-none d-md-flex col-md-8 col-lg-6">
            <figure class="position-relative w-100 m-0">
              <img class="image-fit contain" src="./src/img/mobile.png" alt="Portfolio balance">
            </figure>
          </div>
        </div>
      </section>
      <section class="container-xl mb-5 mb-lg-4">
        <div class="table-responsive-lg">
          <table class="table table-ranking border-start border-top border-end mb-0">
            <thead>
              <tr>
                <th class="fw-normal" scope="col">#</th>
                <th class="fw-normal" scope="col">Name</th>
                <th class="fw-normal" scope="col">Price</th>
                <th class="fw-normal" scope="col">Change</th>
                <th class="fw-normal" scope="col">Chart</th>
                <th class="fw-normal" scope="col">Trade</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th width="85" class="fw-normal" scope="row">1</th>
                <td>
                  <div class="text-nowrap">
                    <img class="me-3" width="36" height="36" src="./src/img/bitcoin-yellow.png" alt="Bitcoin"> 
                    Bitcoin <span class="text-muted ms-3">BTC</span>
                  </div>
                </td>
                <td width="130">€20,198.75</td>
                <td width="100"><span class="text-success">+1.27%</span></td>
                <td width="100"><img width="70" src="./src/img/chart.png" alt="Graph"></td>
                <td width="70"><button class="btn btn-sm btn-success px-3">Buy</button></td>
              </tr>
              <tr>
                <th width="85" class="fw-normal" scope="row">2</th>
                <td>
                  <div class="text-nowrap">
                    <img class="me-3" width="36" height="36" src="./src/img/ethereum.png" alt="Ethereum"> 
                    Ethereum <span class="text-muted ms-3">ETH</span>
                  </div>
                </td>
                <td width="130">€1,159.89</td>
                <td width="100"><span class="text-success">+2.86%</span></td>
                <td width="100"><img width="70" src="./src/img/chart.png" alt="Graph"></td>
                <td width="70"><button class="btn btn-sm btn-success px-3">Buy</button></td>
              </tr>
              <tr>
                <th width="85" class="fw-normal" scope="row">3</th>
                <td>
                  <div class="text-nowrap">
                    <img class="me-3" width="36" height="36" src="./src/img/cardano.png" alt="Cardano"> 
                    Cardano <span class="text-muted ms-3">ADA</span>
                  </div>
                </td>
                <td width="130">€0.48</td>
                <td width="100"><span class="text-success">+4.70%</span></td>
                <td width="100"><img width="70" src="./src/img/chart.png" alt="Graph"></td>
                <td width="70"><button class="btn btn-sm btn-success px-3">Buy</button></td>
              </tr>
              <tr>
                <th width="85" class="fw-normal" scope="row">4</th>
                <td>
                  <div class="text-nowrap">
                    <img class="me-3" width="36" height="36" src="./src/img/solana.png" alt="Solana"> 
                    Solana <span class="text-muted ms-3">SOL</span>
                  </div>
                </td>
                <td width="130">€38.08</td>
                <td width="100"><span class="text-danger">-1.02%</span></td>
                <td width="100"><img width="70" src="./src/img/chart.png" alt="Graph"></td>
                <td width="70"><button class="btn btn-sm btn-success px-3">Buy</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <section class="container-xl earn-banner mb-5">
        <div class="row justify-content-center justify-content-lg-between">
          <div class="col-md-5 col-lg-6 d-flex flex-column align-items-center align-items-lg-start mb-4 mb-lg-0">
            <h2 class="text-center text-lg-start fw-bold">Earn up to $7 worth of crypto</h2>
            <p class="text-center text-lg-start">Discover how specific cryptocurrencies work — and get a bit of each crypto to try out for yourself.</p>
            <a class="btn btn-primary" href="#">Start earning</a>
          </div>
          <div class="col-md-7 col-lg-6">
            <ul class="list-unstyled">
              <li class="position-relative d-flex align-items-center fw-bold p-3 p-lg-4">
                <img class="me-3" width="38" height="38" src="./src/img/the-graph.png" alt="The Graph">
                <span class="h4 me-3 mb-0"><a class="stretched-link text-dark" href="#the_graph">The Graph</a></span>
                <span class="d-none d-md-inline h5 me-3 mb-0">GRT</span>
                <span class="text-success ms-auto">Earn $4 GRT</span>
              </li>
              <li class="position-relative d-flex align-items-center fw-bold p-3 p-lg-4">
                <img class="me-3" width="38" height="38" src="./src/img/amp.png" alt="Amp">
                <span class="h4 me-3 mb-0"><a class="stretched-link text-dark" href="#amp">Amp</a></span>
                <span class="d-none d-md-inline h5 me-3 mb-0">AMP</span>
                <span class="text-success ms-auto">Earn $3 AMP</span>
              </li>
            </ul>
            <a class="fw-bold ms-4 mt-3" href="#view_more">View more ></a>
          </div>
        </div>
      </section>
      <section class="portfolio-app container-xl pb-4 pb-md-5 mb-5">
        <div class="py-5">
          <h2 class="h1 fw-bold text-center mb-4">Create your cryptocurrency portfolio today</h2>
          <p class="text-center text-muted">Coinbase has a variety of features that make it the best place to start trading</p>
        </div>
        <div class="row flex-column-reverse flex-xl-row align-items-center">
          <div class="col-xl-5 mt-5 mt-xl-0">
            <ul class="list-unstyled">
              <li class="d-flex flex-column flex-md-row align-items-center align-items-md-start mb-4">
                <picture class="portfolio-app-icon flex-shrink-0 d-flex justify-content-center align-items-center me-0 me-md-4 mb-4 mb-md-0">
                  <img src="./src/img/bars-icon.svg" alt="Bars icon">
                </picture>
                <div>
                  <h2 class="h5 text-center text-md-start fw-bold mb-3">Manage your portfolio</h2>
                  <p class="text-center text-md-start text-muted">Buy and sell popular digital currencies, keep track of them in the one place.</p>
                </div>
              </li>
              <li class="d-flex flex-column flex-md-row align-items-center align-items-md-start mb-4">
                <picture class="portfolio-app-icon flex-shrink-0 d-flex justify-content-center align-items-center me-0 me-md-4 mb-4 mb-md-0">
                  <img src="./src/img/ical-icon.svg" alt="iCal icon">
                </picture>
                <div>
                  <h2 class="h5 text-center text-md-start fw-bold mb-3">Recurring buys</h2>
                  <p class="text-center text-md-start text-muted">Invest in cryptocurrency slowly over time by scheduling buys daily, weekly, or monthly.</p>
                </div>
              </li>
              <li class="d-flex flex-column flex-md-row align-items-center align-items-md-start mb-4">
                <picture class="portfolio-app-icon flex-shrink-0 d-flex justify-content-center align-items-center me-0 me-md-4 mb-4 mb-md-0">
                  <img src="./src/img/lock-icon.svg" alt="Lock icon">
                </picture>
                <div>
                  <h2 class="h5 text-center text-md-start fw-bold mb-3">Vault protection</h2>
                  <p class="text-center text-md-start text-muted">For added security, store your funds in a vault with time delayed withdrawals.</p>
                </div>
              </li>
              <li class="d-flex flex-column flex-md-row align-items-center align-items-md-start mb-4">
                <picture class="portfolio-app-icon flex-shrink-0 d-flex justify-content-center align-items-center me-0 me-md-4 mb-4 mb-md-0">
                  <img src="./src/img/mobile-app-icon.svg" alt="Mobile app icon">
                </picture>
                <div>
                  <h2 class="h5 text-center text-md-start fw-bold mb-3">Mobile apps</h2>
                  <p class="text-center text-md-start text-muted">Stay on top of the markets with the Coinbase app for Android or iOS.</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-xl-7">
            <img class="img-fluid" src="./src/img/coinbase-app.webp" alt="Coinbase app">
          </div>
        </div>
      </section>
      <hr class="mb-5">
      <section class="portfolio-app container-xl pb-4 pb-md-5 mb-5">
        <div class="py-5">
          <h2 class="h1 fw-bold text-center mb-4">The most trusted cryptocurrency platform</h2>
          <p class="text-center text-muted">Here are a few reasons why you should choose Coinbase</p>
        </div>
      </section>
      <br>
      <br>
      <br>
      <br>
      <br>
    </main>
  </body>
</html>