<!DOCTYPE html>
<html lang="es" class="w-100 h-100">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <meta name="description" content="Plantilla base para comenzar un nuevo proyecto basado en | Bootstrap + Sass + Webpack">
    <link rel="shortcut icon" type="image/png" href="./src/images/favicon.png" />
  </head>
  <body class="{{htmlWebpackPlugin.options.bodyClass}}">
    <div class="align-self-center text-uppercase">
      <h1>Luis <strong class="d-block font-weight-bold">Badiali</strong></h1>
      <p class="mb-4">
        Web Dev | Diseño<br />
        <a
          target="_blank"
          href="https://www.badiali.es"
          title="Luis Badiali | Diseño y desarrollo frontend"
        >badiali.es</a>
      </p>
      <p><a class="btn btn-secondary" href="./contacto.html">Contacto</a></p>
    </div>
  </body>
</html>