<section class="container-xl">
  <div class="row justify-content-between">
    <div class="col-7 col-sm-6 col-md-4 col-lg-3 mb-4 mb-md-0">
      <img 
        class="mb-4"
        width="112"
        height="20"
        src="./src/img/coinbase.svg"
        alt="Coinbase"
      />
      <form class="py-3">
        <select class="form-select">
          <option value="English" selected>English</option>
          <option value="Español">Español</option>
        </select>
      </form>
      <p class="text-muted mb-2">@2022 Coinbase</p>
      <p class="mb-0"><a href="#">Blog</a> • <a href="#">Twitter</a> • <a href="#">Facebook</a></p>
    </div>
    <div class="col-12 col-md-8">
      <div class="footer-links">
        <div>
          <h2 class="h6 fw-bold">Company</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" title="Learn more about the company">About</a></li>
            <li class="mb-2"><a href="#" title="Work at Coinbase">Careers</a></li>
            <li class="mb-2"><a
                href="#"
                title="Earn money becoming an affiliate"
              >Affiliates</a></li>
            <li class="mb-2"><a href="#" title="The Coinbase Blog">Blog</a></li>
            <li class="mb-2"><a href="#" title="In the news">Press</a></li>
            <li class="mb-2"><a href="#" title="Investors">Investors</a></li>
            <li class="mb-2"><a href="#" title="Our privacy and legal policies">Legal &amp;
                privacy</a></li>
            <li class="mb-2"><a href="#" title="Our cookie policy">Cookie policy</a></li>
            <li class="mb-2"><a href="#" title="Cookie preferences">Cookie preferences</a></li>
            <li class="mb-2"><a href="#" title="Digital Asset Disclosures">Digital Asset
                Disclosures</a></li>
          </ul>
          <h2 class="h6 fw-bold">Learn</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" title="Browse crypto prices">Browse crypto prices</a></li>
            <li class="mb-2"><a href="#" title="Coinbase Bytes newsletter">Coinbase Bytes
                newsletter</a></li>
            <li class="mb-2"><a href="#" title="Crypto basics">Crypto basics</a></li>
            <li class="mb-2"><a href="#" title="Tips & tutorials">Tips & tutorials</a></li>
            <li class="mb-2"><a href="#" title="Market updates">Market updates</a></li>
            <li class="mb-2"><a href="#" title="What is Bitcoin?">What is Bitcoin?</a></li>
            <li class="mb-2"><a href="#" title="What is crypto?">What is crypto?</a></li>
            <li class="mb-2"><a href="#" title="What is a blockchain?">What is a blockchain?</a></li>
            <li class="mb-2"><a href="#" title="How to set up a crypto wallet">How to set up
                a crypto wallet</a></li>
            <li class="mb-2"><a href="#" title="How to send crypto">How to send crypto</a></li>
            <li class="mb-2"><a href="#" title="Taxes">Taxes</a></li>
          </ul>
        </div>
        <div>
          <h2 class="h6 fw-bold">Individuals</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" title="Buy & sell">Buy & sell</a></li>
            <li class="mb-2"><a href="#" title="Wallet">Wallet</a></li>
            <li class="mb-2"><a href="#" title="NFT">NFT</a></li>
            <li class="mb-2"><a href="#" title="Card">Card</a></li>
            <li class="mb-2"><a href="#" title="Derivatives">Derivatives</a></li>
          </ul>
          <h2 class="h6 fw-bold">Businesses</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" title="Institutional">Institutional</a></li>
            <li class="mb-2"><a href="#" title="Prime">Prime</a></li>
            <li class="mb-2"><a href="#" title="Custody">Custody</a></li>
            <li class="mb-2"><a href="#" title="Asset Hub">Asset Hub</a></li>
            <li class="mb-2"><a href="#" title="Commerce">Commerce</a></li>
          </ul>
          <h2 class="h6 fw-bold">Developers</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" title="Cloud">Cloud</a></li>
            <li class="mb-2"><a href="#" title="Wallet SDK">Wallet SDK</a>
            <li class="mb-2"><a href="#" title="Coinbase Pay SDK">Coinbase Pay SDK</a>
            <li class="mb-2"><a href="#" title="Query & Transact">Query & Transact</a>
            <li class="mb-2"><a href="#" title="Commerce">Commerce</a>
            <li class="mb-2"><a href="#" title="Exchange & Pro">Exchange & Pro</a>
            <li class="mb-2"><a href="#" title="Sign in with Coinbase">Sign in with Coinbase</a>
            <li class="mb-2"><a href="#" title="Rosetta">Rosetta</a>
            <li class="mb-2"><a href="#" title="Participate">Participate</a>
            <li class="mb-2"><a href="#" title="Prime API">Prime API</a>
          </ul>
        </div>
        <div>
          <h2 class="h6 fw-bold">Support</h2>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" title="Help center">Help center</a></li>
            <li class="mb-2"><a href="#" title="Contact us">Contact us</a></li>
            <li class="mb-2"><a href="#" title="Create account">Create account</a></li>
            <li class="mb-2"><a href="#" title="ID verification">ID verification</a></li>
            <li class="mb-2"><a href="#" title="Account information">Account information</a></li>
            <li class="mb-2"><a href="#" title="Payment methods">Payment methods</a></li>
            <li class="mb-2"><a href="#" title="Account access">Account access</a></li>
            <li class="mb-2"><a href="#" title="Supported crypto">Supported crypto</a></li>
            <li class="mb-2"><a href="#" title="Supported countries">Supported countries</a></li>
            <li class="mb-2"><a href="#" title="Status">Status</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>