<nav class="navbar h-100 py-0">
  <div class="container-xl h-100">
    <a class="navbar-brand" href="#">
      <img
        width="112"
        height="20"
        src="./src/img/coinbase.svg"
        alt="Coinbase"
      />
    </a>
    <nav class="d-none d-lg-block h-100 ms-auto">
      <ul class="navbar-nav h-100 flex-row align-items-center">
        <li class="nav-item h-100 fw-bold">
          <a
            class="nav-link position-relative d-flex align-items-center h-100 text-dark"
            href="#"
          >Explore</a>
        </li>
        <li class="nav-item h-100 fw-bold">
          <a
            class="nav-link position-relative d-flex align-items-center h-100 text-dark"
            href="#"
          >Learn</a>
        </li>
        <li class="nav-item h-100 dropdown fw-bold">
          <a
            class="nav-link position-relative dropdown-toggle d-flex align-items-center h-100 text-dark"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Individuals
          </a>
          <div
            class="dropdown-menu position-fixed w-100 rounded-0 border-0 m-0"
            aria-labelledby="navbarDropdown"
          >
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <ul>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </div>
                <div class="col-4">
                  <ul>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item h-100 fw-bold">
          <a
            class="nav-link position-relative d-flex align-items-center h-100 text-dark"
          >Businesses</a>
        </li>
        <li class="nav-item h-100 fw-bold">
          <a
            class="nav-link position-relative d-flex align-items-center h-100 text-dark"
          >Developers</a>
        </li>
        <li class="nav-item h-100 fw-bold">
          <a
            class="nav-link position-relative d-flex align-items-center h-100 text-dark"
          >Company</a>
        </li>
      </ul>
    </nav>
    <ul
      class="list-unstyled d-flex align-items-center mb-0 ms-auto"
    >
      <li class="d-none d-lg-block me-4">
        <a class="fw-bold" href="#">Sign in</a>
      </li>
      <li>
        <button class="btn btn-sm btn-primary" type="button">Get started</button>
      </li>
    </ul>
    <button
      class="burger-btt d-lg-none bg-transparent border-0 ms-4"
      type="button"
    >
      <div class="burger-btt-wrap position-relative">
        <div class="burger-btt-wrap-bar position-absolute bg-dark">
          <span class="visually-hidden">Menu</span>
        </div>
      </div>
    </button>
  </div>
</nav>