@font-face {
  font-family: CoinbaseSans;
  font-weight: 400;
  src: url(../assets/fonts/CoinbaseSans-Regular.woff2) format("woff2");
}
@font-face {
  font-family: CoinbaseSans;
  font-weight: 500;
  src: url(../assets/fonts/CoinbaseSans-Medium.woff2) format("woff2");
}
@font-face {
  font-family: CoinbaseDisplay;
  font-weight: 400;
  src: url(../assets/fonts/CoinbaseDisplay-Regular.woff2) format("woff2");
}
@font-face {
  font-family: CoinbaseDisplay;
  font-weight: 500;
  src: url(../assets/fonts/CoinbaseDisplay-Medium.woff2) format("woff2");
}