@font-face {
  font-display: swap;
  font-family: CoinbaseIcons;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/CoinbaseIcons.woff2) format('woff2')
}

@font-face {
  font-display: optional;
  font-family: CoinbaseSans;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/CoinbaseSans-Regular.woff2) format('woff2')
}

@font-face {
  font-display: optional;
  font-family: CoinbaseSans;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/CoinbaseSans-Medium.woff2) format('woff2')
}

@font-face {
  font-display: optional;
  font-family: CoinbaseDisplay;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/CoinbaseDisplay-Regular.woff2) format('woff2')
}

@font-face {
  font-display: optional;
  font-family: CoinbaseDisplay;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/CoinbaseDisplay-Medium.woff2) format('woff2')
}

@font-face {
  font-display: optional;
  font-family: CoinbaseText;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/CoinbaseText-Regular.woff2) format('woff2')
}

@font-face {
  font-display: optional;
  font-family: CoinbaseText;
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/CoinbaseText-Medium.woff2) format('woff2')
}