.header {
  height: $header-mobile-height;
  .navbar-brand {
    margin-bottom: 3px;
  }
  .nav-link {
    cursor: pointer;
    &::after {
      content: "";
      opacity: 0;
      visibility: hidden;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $primary;
      transition: opacity 0.1s linear;
    }
    @include media-breakpoint-up(lg) {
      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-login {
    font-size: 0.875rem;
    a {
      color: $dark;
      &:hover {
        color: $primary;
      }
    }
  }
  &-list-links {
    a {
      color: $dark;
      .text-muted {
        opacity: 0.6;
      }
      &:hover {
        color: $primary;
        .icon-angle {
          &::before {
            @include iconAngle($primary);
          }
        }
        .text-muted {
          opacity: 1;
        }
      }
    }
    .list-links-icon {
      img {
        filter: drop-shadow(rgba(91, 97, 110, 0.14) 0px 2px 2px)
          drop-shadow(rgba(91, 97, 110, 0.12) 0px 3px 1px)
          drop-shadow(rgba(91, 97, 110, 0.2) 0px 1px 5px);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    height: $header-height;
  }
}

.offcanvas.offcanvas-end {
  top: 58px;
  overflow-y: scroll;
  .nav-item {
    margin: 0;
  }
  .nav-link {
    padding: 10px 20px;
    &::before {
      content: "";
      opacity: 1;
      visibility: visible;
      position: absolute;
      top: 50%;
      right: 20px;
      bottom: auto;
      left: auto;
      transform: translateY(-50%);
      width: 8px;
      height: 11px;
      background-color: transparent;
      @include iconAngle($dark);
    }
  }
  .nav-link.dropdown-toggle::before {
    transform: rotate(90deg);
    margin-top: -3px;
  }
  .dropdown-menu {
    div[class^="container"] {
      background-color: $gray-300;
    }
  }
  @include media-breakpoint-up(lg) {
    height: 100% !important;
    font-size: 0.875rem;
    overflow-y: hidden;
    nav,
    .navbar-nav,
    .nav-item,
    .nav-link {
      height: 100%;
    }
    .nav-item {
      margin: 0 18px;
    }
    .nav-link {
      padding: 0;
      &::before {
        display: none;
      }
    }
    .dropdown {
      &:hover {
        .dropdown-toggle + .dropdown-menu {
          opacity: 1;
          visibility: visible;
          div[class^="container"] {
            opacity: 1;
            visibility: visible;
          }
        }
        .nav-link {
          &::after {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .dropdown-toggle {
        & + .dropdown-menu {
          position: fixed;
          display: block;
          opacity: 0;
          visibility: hidden;
          top: 67px;
          left: 0;
          padding: 40px 45px;
          transition: all 150ms linear 0s, box-shadow 0ms linear 0s;
          box-shadow: 0 0.5rem 0.5rem rgba($dark, 0.05);
          div[class^="container"] {
            opacity: 0;
            visibility: hidden;
            max-width: 1065px;
            background-color: white;
            transition: all 300ms ease-in-out 0s;
          }
        }
      }
    }
  }
}

/* Botón burger */
.burger-btt {
  padding: 10px;
  margin-right: -10px;
  margin-left: 20px;
  &-wrap {
    width: 18px;
    height: 17px;
    cursor: pointer;
    &-bar {
      top: 8px;
      width: 100%;
      height: 2px;
      transform: initial;
      transition: transform 300ms ease 0s,
        background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $dark;
        transform: translateY(-8px);
        transition: transform 300ms ease 0s,
          background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $dark;
        transform: translateY(8px) rotate(0deg);
        transition: transform 300ms ease 0s,
          background-color 0s cubic-bezier(0.6, 0, 0.15, 1) 0s;
      }
    }
  }
}

/*! purgecss start ignore */
.offcanvas.offcanvas-end .nav-link.dropdown-toggle.show::before {
  transform: rotate(-90deg);
}
.offcanvas-backdrop {
  display: none !important;
}
.burger-btt-wrap-bar.active {
  background-color: transparent;
  transform: rotate(45deg);
  &::before {
    transform: translateY(0px);
  }
  &::after {
    transform: translateY(0px) rotate(-90deg);
  }
}
/*! purgecss end ignore */
