/*
 * Icons
 */

$iconColor: $dark !default;

@mixin iconAngleRight($iconColor) {
  background-image: url(escape_svg(
    'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg"><path d="M7.172 5.773L2.257.823.5 2.593l3.157 3.18L.5 8.953l1.757 1.77 4.915-4.95z" fill="#{$iconColor}"></path></svg>'
  ));
}
// @mixin iconXXX($iconColor) {
// 	background-image: url(escape_svg('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$iconColor}" viewBox='));
// }

.icon {
  display: flex;
  &::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: -0.125em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-angle-right::before {
    width: 8px;
    height: 11px;
    @include iconAngleRight($iconColor);
  }
  // &-XXX::before {
  // 	@include iconXXX($iconColor);
  // }
}
