/*
 * Tema
 */

/* Variables del tema */
$header-height: 67px;
$header-mobile-height: 58px;

/* Fuentes */
@import "fonts";

/* Iconos */
@import "icons";

/* Mixins */
@import "mixins";

img.image-fit {
  @include imageFit(cover, center);
  &.top {
    @include imageFit(cover, top);
  }
  &.contain {
    @include imageFit(contain, center);
  }
}

html {
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  padding-top: $header-mobile-height;
  @include media-breakpoint-up(lg) {
    padding-top: $header-height;
  }
}

.btn:focus,
.btn:active,
.btn:active:focus {
  box-shadow: none;
}

/* Header */
@import "header";

/* Main */
.portfolio-hero {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  .icon-arrow::before {
    width: 16px;
    @include iconArrow($primary);
  }
  h1 {
    font-size: 2.125rem;
    line-height: 1.15em;
    @include media-breakpoint-up(md) {
      max-width: 425px;
      font-size: 3.785rem;
    }
  }
  h3 {
    font-size: 1rem;
    line-height: 1.4em;
    font-weight: normal;
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  figure {
    height: 600px;
  }
  form {
    input[type="email"],
    .btn {
      padding: 1.3rem;
    }
  }
}

/* Tabla de rankings */
.table-ranking {
  td {
    padding: 14px 48px 14px 0px;
  }
  td:first-of-type {
    padding-left: 16px;
  }
  td:last-of-type {
    padding-right: 32px;
  }
  td, th {
    vertical-align: middle;
  }
  thead {
    display: none;
    th {
      padding: 16px 48px 16px 0px;
      font-size: 0.875rem;
      color: $gray-600;
      &:first-child {
        padding-left: 32px;
      }
    }
  }
  tbody {
    font-size: 1.125rem;
    th {
      display: none;
    }
  }
  @include media-breakpoint-up(md) {
    thead {
      display: table-header-group;
    }
    tbody {
      th {
        display: table-cell;
        color: $gray-600;
        padding-left: 32px;
      }
      td:first-of-type {
        padding-left: 0;
      }
    }
  }
}