/*
 * Tema
 */

/* Variables del tema */
$header-height: 67px;
$header-mobile-height: 58px;

/* Fuentes */
@import "fonts";

/* Iconos */
@import "icons";

/* Mixins */
@import "mixins";

img.image-fit {
  @include imageFit(cover, center);
  &.top {
    @include imageFit(cover, top);
  }
  &.contain {
    @include imageFit(contain, center);
  }
  &.contain-top {
    @include imageFit(contain, top right);
  }
}

html {
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

body {
  padding-top: $header-mobile-height;
  @include media-breakpoint-up(lg) {
    padding-top: $header-height;
  }
}

.btn:focus,
.btn:active,
.btn:active:focus {
  box-shadow: none;
}

/* Header */
@import "header";

/* Main */
.portfolio-hero {
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  .icon-arrow::before {
    width: 16px;
    @include iconArrow($primary);
  }
  h1 {
    font-size: 2.125rem;
    line-height: 1.15em;
    @include media-breakpoint-up(md) {
      max-width: 425px;
      font-size: 3.785rem;
    }
  }
  h3 {
    font-size: 1rem;
    line-height: 1.4em;
    font-weight: normal;
    @include media-breakpoint-up(md) {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
  figure {
    height: 600px;
  }
  form {
    input[type="email"],
    .btn {
      padding: 1.3rem;
    }
  }
}

/* Tabla de rankings */
div[class^="table-responsive"] {
  scrollbar-color: $primary $gray-200;
  &::-webkit-scrollbar {
    height: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: $gray-200;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
    border: 4px solid $gray-200;
  }
}
.table-ranking {
  td {
    padding: 14px 48px 14px 0px;
  }
  td:first-of-type {
    padding-left: 16px;
  }
  td:last-of-type {
    padding-right: 32px;
  }
  td, th {
    vertical-align: middle;
  }
  thead {
    display: none;
    th {
      padding: 16px 48px 16px 0px;
      font-size: 0.875rem;
      color: $gray-600;
      &:first-child {
        padding-left: 32px;
      }
    }
  }
  tbody {
    font-size: 1.125rem;
    th {
      display: none;
    }
  }
  @include media-breakpoint-only(md) {
    border-left: none !important;
    border-right: none !important;
    thead {
      th:first-of-type {
        padding-left: 16px;
      }
      th:last-of-type {
        padding-right: 0;
      }
    }
    tbody {
      th:first-of-type {
        padding-left: 16px;
      }
      td:last-of-type {
        padding-right: 0;
      }
    }
  }
  @include media-breakpoint-up(md) {
    thead {
      display: table-header-group;
    }
    tbody {
      th {
        display: table-cell;
        color: $gray-600;
        padding-left: 32px;
      }
      td:first-of-type {
        padding-left: 0;
      }
    }
  }
}

/* Earn section */
.earn-section {
  div[class^="col-"]:first-of-type {
    max-width: 370px;
  }
  p {
    font-size: 0.875rem
  }
  ul {
    border-bottom: 1px solid $gray-300;
    li {
      border: 1px solid $gray-300;
      border-bottom: none;
      box-shadow: rgba($dark, 0) 0px 0px 0px;
      transition: box-shadow 500ms ease 0s;
      &:hover {
        box-shadow: rgba($dark, 0.2) 0px 8px 24px;
      }
    }
    @include media-breakpoint-up(lg) {
      border-bottom: none;
      li {
        border-radius: 8px;
        border: none;
      }
    }
  }
}

/* Portfolio app */
.portfolio-app {
  &-icon {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 100%;
    box-shadow: rgba($dark, 0.2) 0px 8px 16px;
  }
  @include media-breakpoint-down(xl) {
    div[class^="col-"] {
      max-width: 756px;
    }
  }
}

/* Stats hero */
.stats-hero {
  div[class^=".display-"] {
    font-family: $font-family-base;
  }
  p {
    opacity: 0.6;
  }
}

/* Get started */
.get-started {
  .row {
    @include media-breakpoint-up(md) {
      &::before {
        content: "";
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        background-color: $gray-500;
        z-index: 0;
      }
    }
    @include media-breakpoint-up(lg) {
      max-width: 80%;
    }
  }
}

/* Earn hero */
.earn-hero {
  color: white;
  background-color: rgb(17, 51, 85);
  padding: 50px;
  @include media-breakpoint-up(md) {
    height: 460px;
    padding: 0;
    color: $dark;
    background-color: rgb(245,248,255);
    div[class^="col-"]:first-of-type {
      padding-left: 5%;
    }
  }
  @include media-breakpoint-up(lg) {
    div[class^="col-"]:first-of-type {
      padding-left: 10%;
    }
  }
  @include media-breakpoint-up(xl) {
    div[class^="col-"]:first-of-type {
      padding-left: 20%;
    }
  }
}

/* Footer */
@import "footer";